.nav {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: #696cff;
    /* color: #fff; */
    display: flex;
    padding: 0 16px;
    align-items: center;
    height: 56px;
    font: 500 20px/32px Roboto, "Helvetica Neue", sans-serif;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0; 
  }

  li {
    display: inline;
    float: left;
    padding-left: 12px;
  }

  a{
    color: white;
  }

  a:hover{
    color: rgb(69, 69, 228);
    text-decoration: wavy;
    transform: matrix();
  }

.btn{
    background-color: #696cff;
    color: white;
    margin-left: 60px;
}

.centered-element{
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    border-color:  #696cff 2px;
    /* background-color: grey; */
    padding: 15px;
    width: 60%;
}


  