<div class="nav">
    <img src="assets/loader/wdLogoWhite.png" width="80px" style="padding-left: 20px;">
    <div style="position: relative; float: right;">
        <ul>
            <li><a href="/home-pub">Home</a></li>
            <li> <a href="/home-pub">Download</a></li>
            <li> <a href="/home-pub">Plan</a></li>
            <li> <a href="/home-pub">Team</a></li>
            <li><a href="/home-pub">Contact</a></li>
        </ul>
    </div>
</div>

<div class="container">
    <div class="row">
      <div class="col-sm">
        <div>
            <h1 style="margin-top: 200px; font-size: 100px; margin-left: 30px;">WeddingApp</h1>
            <p  style="font-size: 30px;  margin-top: 50px; margin-left: 30px;">Creez vos invitations et generez de code Qr <br> en seulement quelques clics</p>
        
            <button class="btn">Commencer</button>
        </div>
      </div>
      <div class="col-sm">
       <img src="assets/loader/wdLogo.png">
      </div>
    </div>
  </div>


