<p style="font-size: 32px;">{{data}}</p>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4 col-xlg-3">
            <img src="assets/dialog/successOk.png" width="80px" height="80px">
        </div>
      </div>
    
    <div class="row justify-content-center">
      <div class="col-md-6 col-lg-4 col-xlg-3">
        <!-- <button type="button" class="btn btn-danger" mat-dialog-close="false">Ok</button> -->
      </div>
    </div>
</div>
  

