<body>
	<div class="main">  	
		<input type="checkbox" id="chk" aria-hidden="true">

			<div class="signup">
				<form [formGroup]="registerForm">
					<label for="chk" aria-hidden="true">Formulaire</label>
					<input type="text" name="txt" placeholder="Username" required formControlName="username" >
          <!-- <div class="form-control-feedback"
            *ngIf="registerForm.controls['username'].errors && (registerForm.controls['username'].dirty || registerForm.controls['username'].touched)">
            <p *ngIf="registerForm.controls['username'].errors" style="color: red; text-align: center;">Username est obligatoire</p>
           </div> -->
					<input type="email" name="email" placeholder="Email" required formControlName="email">
          <!-- <div class="form-control-feedback"
            *ngIf="registerForm.controls['email'].errors && (registerForm.controls['email'].dirty || registerForm.controls['email'].touched)">
            <p *ngIf="registerForm.controls['email'].errors" style="color: red; text-align: center;">Email incorrect</p>
           </div> -->
					<input type="password" name="pswd" placeholder="Password" required formControlName="password" maxlength="6">
          <!-- <div class="form-control-feedback"
            *ngIf="registerForm.controls['password'].errors && (registerForm.controls['password'].dirty || registerForm.controls['password'].touched)">
            <p *ngIf="registerForm.controls['email'].errors" style="color: red; text-align: center;">Email incorrect</p>
           </div> -->

           <ng-container *ngIf="progressBar">
            <div class="d-flex justify-content-center">
              <div class="spinner-border text-primary" role="status">
                <span class="sr-only">Loading...</span>
              </div>
            </div>
          </ng-container>
          
					<button (click)="verificationMailUser()" >Valider</button>
				</form>

        
        
			</div>

			<div class="login">
				<form>
					<label for="chk" aria-hidden="true">Connexion</label>
					<input type="email" name="email" placeholder="Email" required #emailLog pattern="[^ @]*@[^ @]*[a-zA-Z ]">
          <input type="password" placeholder="Password" maxLength=6  #passwordLog required/>

          

          <ng-container *ngIf="progressBar">
            <div class="d-flex justify-content-center">
              <div class="spinner-border text-primary" role="status">
                <span class="sr-only">Loading...</span>
              </div>
            </div>
          </ng-container>
          

          

          <!-- <ngx-spinner
              
              size="medium"
              color="#fff"
              type="ball-scale-multiple"
              [fullScreen]="false"

          >
            <p style="font-size: 20px; color: rgb(12, 12, 12)">Chargement...</p>
          </ngx-spinner> -->

          <!-- <ng-progress #progressBar (started)="onStarted()" (completed)="onCompleted()"></ng-progress> -->

          <!-- <div class="input-box">
            <span class="prefix">
              <i class="fa fa-eye" aria-hidden="true" *ngIf="!show" (click)="onClick()"></i>
              <i class="fa fa-eye-slash" aria-hidden="true" *ngIf="show" (click)="onClick()"></i>
            </span>
            
          </div> -->
          
            
          <!-- <input type="checkbox" placeholder="Password" required> Se souvenir -->

          
              <button (click)="loginApi(emailLog.value,passwordLog.value)">Se connecter</button>
          
              <h6 style="color: red; font-size: 15px; text-align: center; margin-top: 10px;" (click)="sendWhatsapp()">Mot de passe oublié?</h6>
					
				</form>
			</div>
	</div>
</body>

<footer>


<div
      class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-primary">
      <!-- Copyright -->
      <div class="text-white mb-3 mb-md-0">
        WeddingApp 2023. Copyright © MonkilaTECH All rights reserved.
      </div>
      <!-- Copyright -->
  
      <!-- Right -->
      <div>
        <a href="" class="text-white me-4">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="fab fa-google"></i>
        </a>
        <a href="" class="text-white">
          <i class="fab fa-linkedin-in"></i>
        </a>
      </div>
      <!-- Right -->
</div>
</footer>