<div class="card text-center">
    <div class="card-body">
      <h5 class="" style="text-decoration: double; font-size: 26px;">{{data}}</h5>
      <!-- <img src="assets/dialog/errorOk.png" width="80px" height="80px"> -->
      <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
      <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
      <input type="number" class="form-control" [(ngModel)]="codeOtpRecovery" style="margin-top: 15px;" placeholder="Code">
      <input type="password" class="form-control" [(ngModel)]="passwordRecovery" style="margin-top: 15px;" placeholder="Nouveau Mot de passe">

      <h5 class="" style="text-decoration: double; font-size: 15px; color: red; text-align: left;  margin-top: 20px;">Code non reçu?</h5>
      <div class="col-md-12" style="margin-top: 20px;">
        <button type="button" class="btn btn-primary" mat-dialog-close="true" cl style="margin-right: 20px;" (click)="saveData()">Envoyer</button>
        <button type="button" class="btn btn-danger" mat-dialog-close="false" >Annuler</button>
      </div>
    </div>
    <div class="card-footer text-muted">
     
    </div>
  </div>
  
  