<section>
    <div class="container">
        <div class="row text-center align-items-end">
            <h1 style="font-size: 50px; font-family: 'Ysabeau', serif;">Contact</h1>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3978.5284260581843!2d15.285399109937593!3d-4.311302246395785!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1a6a334b939819dd%3A0x2b8e3518c701167e!2sKinshasa%2FGombe!5e0!3m2!1sfr!2scd!4v1682509397453!5m2!1sfr!2scd" width="500" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            <div class="" style="margin-top: 20px;">
              
             
              
              <div class="bg-white p-5 rounded-lg shadow">

                <div class="row">
                  <div class="col-sm">
                    <img src="assets/logo/linkedin.png" width="40px" height="40px"> &nbsp;&nbsp; WeddingApp<br>
                  </div>
                  <div class="col-sm">
                    <img src="assets/logo/whatsapp.webp" width="65px" height="65px" style="margin-top: -10px;">+243816717846
                  </div>
                  <div class="col-sm">
                  </div>
                  <div class="col-sm">
                  </div>
                  <div class="col-sm">
                  </div>
                </div>
                  <!-- <div class="custom-separator my-4 mx-auto bg-primary"></div> -->

                  <form [formGroup]="contactForm">

                 
                  <div class="row">
                    <div class="col-sm">
                        <input class="form-control" type="text" placeholder="Nom" required formControlName="name">
                    </div>
                    <div class="col-sm">
                        <input  class="form-control" type="email" placeholder="Email" required formControlName="email">
                    </div>
                  </div>

                  <textarea class="form-control" cols="4" rows="10" placeholder="Message" style="margin-top: 20px;" required formControlName="message"></textarea>

                </form>
                  <button   class="btn btn-primary btn-block p-2 shadow rounded-pill" style="margin-top: 20px; width: 200px; " (click)="sendMessage()">Envoyer</button>
        
                </div>
              </div>
              
        </div>

        
    </div>
    
</section>