<section>
    <div class="container py-5">
        <div class="row text-center align-items-end">
            <h1 style="font-size: 50px; font-family: 'Ysabeau', serif; text-align: left;">Contact</h1>
            <div class="col-lg-4 mb-5 mb-lg-0" style="margin-top: 20px;">
                <div class="bg-white p-5 rounded-lg shadow">
                  <!-- <div class="custom-separator my-4 mx-auto bg-primary"></div> -->
                  <div class="row">
                    <div class="col-sm">
                        <input class="form-control" type="text" placeholder="Nom">
                    </div>
                    <div class="col-sm">
                        <input  class="form-control" type="email" placeholder="Email">
                    </div>
                  </div>

                  <textarea class="form-control" cols="4" rows="10" placeholder="Message" style="margin-top: 20px;"></textarea>

                  <button   class="btn btn-primary btn-block p-2 shadow rounded-pill" style="margin-top: 20px;">Envoyer</button>
        
                </div>
              </div>
              
        </div>

        
    </div>
    
</section>