<section>
    <div class="container py-5">
        <div class="row text-center align-items-end">
            <h1 style="font-size: 50px; font-family: 'Ysabeau', serif;">Notre Équipe</h1>
            <div class="col-lg-4 mb-5 mb-lg-0 icon2" style="margin-top: 20px;">
                <div class="bg-white p-5 rounded-lg shadow">
                  <!-- <div class="custom-separator my-4 mx-auto bg-primary"></div> -->
                  <img src="assets/team/CEO.png" width="300px">
                  <h1 class="h6 text-uppercase font-weight-bold mb-4" style="margin-top: 20px;">Jonathan MONKILA</h1>
                  <h2 class="h1 font-weight-bold" style="margin-top: -20px;">Directeur Général<span class="text-small font-weight-normal ml-2"></span></h2>
        
                </div>
              </div>
              <div class="col-lg-4 mb-5 mb-lg-0 icon2">
                <div class="bg-white p-5 rounded-lg shadow">
                  <!-- <div class="custom-separator my-4 mx-auto bg-primary"></div> -->
                  <img src="assets/team/team2.png" width="300px">
                  <h1 class="h6 text-uppercase font-weight-bold mb-4" style="margin-top: 20px;">Exauce NKIWA</h1>
                  <h2 class="h1 font-weight-bold" style="margin-top: -20px;">Secrétaire<span class="text-small font-weight-normal ml-2"></span></h2>
        
                </div>
              </div>
              <div class="col-lg-4 mb-5 mb-lg-0 icon2">
                <div class="bg-white p-5 rounded-lg shadow">
                  <!-- <div class="custom-separator my-4 mx-auto bg-primary"></div> -->
                  <img src="assets/team/team1.webp" width="300px">
                  <h1 class="h6 text-uppercase font-weight-bold mb-4" style="margin-top: 20px;">Jordan MAYIFULA</h1>
                  <h2 class="h1 font-weight-bold" style="margin-top: -20px;">Directeur Technique<span class="text-small font-weight-normal ml-2"></span></h2>
        
                </div>
              </div>
              
        </div>

        
    </div>
    
</section>