<div class="modal fade" id="confirmationModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    
      <div class="modal-body">
            <label for="nameBasic" class="form-label">Username</label>
      </div>
        
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
          Non
        </button>
        <button type="button" class="btn btn-primary">Oui</button>
      </div>
   
      
    </div>
</div>
