<section>
    <div class="container py-5">
  
     
      <div class="row text-center align-items-end">
        <!-- Pricing Table-->
        <div class="col-lg-4 mb-5 mb-lg-0">
          <div class="bg-white p-5 rounded-lg shadow">
            <h1 class="h6 text-uppercase font-weight-bold mb-4">Free</h1>
            <h2 class="h1 font-weight-bold">$0<span class="text-small font-weight-normal ml-2"></span></h2>
  
            <div class="custom-separator my-4 mx-auto bg-primary"></div>
  
            <ul class="list-unstyled my-5 text-small text-left">
              <li class="mb-3">
                <i class="fa fa-check mr-2 text-primary"></i> 10 INVITATIONS</li>
              <li class="mb-3">
                <i class="fa fa-check mr-2 text-primary"></i> 10 QR CODE</li>
              <li class="mb-3">
                <i class="fa fa-check mr-2 text-primary"></i> SCANNER APP</li>
            </ul>
            <a  class="btn btn-primary btn-block p-2 shadow rounded-pill">Subscribe</a>
          </div>
        </div>
        <!-- END -->
  
  
        <!-- Pricing Table-->
        <div class="col-lg-4 mb-5 mb-lg-0">
          <div class="bg-white p-5 rounded-lg shadow">
            <h1 class="h6 text-uppercase font-weight-bold mb-4">Basic</h1>
            <h2 class="h1 font-weight-bold">$50<span class="text-small font-weight-normal ml-2"></span></h2>
  
            <div class="custom-separator my-4 mx-auto bg-primary"></div>
  
            <ul class="list-unstyled my-5 text-small text-left">
                <li class="mb-3">
                  <i class="fa fa-check mr-2 text-primary"></i> 70 INVITATIONS</li>
                <li class="mb-3">
                  <i class="fa fa-check mr-2 text-primary"></i> 70 QR CODE</li>
                <li class="mb-3">
                  <i class="fa fa-check mr-2 text-primary"></i> SCANNER APP</li>
              </ul>
            <a  class="btn btn-primary btn-block p-2 shadow rounded-pill">Subscribe</a>
          </div>
        </div>
        <!-- END -->
  
  
        <!-- Pricing Table-->
        <div class="col-lg-4">
          <div class="bg-white p-5 rounded-lg shadow">
            <h1 class="h6 text-uppercase font-weight-bold mb-4">Pro</h1>
            <h2 class="h1 font-weight-bold">$100<span class="text-small font-weight-normal ml-2"></span></h2>
  
            <div class="custom-separator my-4 mx-auto bg-primary"></div>
  
            <ul class="list-unstyled my-5 text-small text-left">
                <li class="mb-3">
                  <i class="fa fa-check mr-2 text-primary"></i>250 INVITATIONS</li>
                <li class="mb-3">
                  <i class="fa fa-check mr-2 text-primary"></i> 250 QR CODE</li>
                <li class="mb-3">
                  <i class="fa fa-check mr-2 text-primary"></i> SCANNER APP</li>
              </ul>
            <a  class="btn btn-primary btn-block p-2 shadow rounded-pill">Subscribe</a>
          </div>
        </div>
        <!-- END -->
      </div>
    </div>
  </section>
  