footer{
    position:fixed;
    /* top: 3%; */
    bottom:0; 
    width:100%;
    /* height:100px; */
}

.fond1{
    background-image: url(../../../../assets/templates/img1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
}