<body>
    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
      <div class="layout-container">
        <!-- Menu -->

        <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
          <div class="app-brand demo">
            <a href="/dashboard" class="app-brand-link">
              <span class="app-brand-logo demo">
                <svg
                  width="25"
                  viewBox="0 0 25 42"
                  version="1.1"
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                >
                  <defs>
                    <path
                      d="M13.7918663,0.358365126 L3.39788168,7.44174259 C0.566865006,9.69408886 -0.379795268,12.4788597 0.557900856,15.7960551 C0.68998853,16.2305145 1.09562888,17.7872135 3.12357076,19.2293357 C3.8146334,19.7207684 5.32369333,20.3834223 7.65075054,21.2172976 L7.59773219,21.2525164 L2.63468769,24.5493413 C0.445452254,26.3002124 0.0884951797,28.5083815 1.56381646,31.1738486 C2.83770406,32.8170431 5.20850219,33.2640127 7.09180128,32.5391577 C8.347334,32.0559211 11.4559176,30.0011079 16.4175519,26.3747182 C18.0338572,24.4997857 18.6973423,22.4544883 18.4080071,20.2388261 C17.963753,17.5346866 16.1776345,15.5799961 13.0496516,14.3747546 L10.9194936,13.4715819 L18.6192054,7.984237 L13.7918663,0.358365126 Z"
                      id="path-1"
                    ></path>
                    <path
                      d="M5.47320593,6.00457225 C4.05321814,8.216144 4.36334763,10.0722806 6.40359441,11.5729822 C8.61520715,12.571656 10.0999176,13.2171421 10.8577257,13.5094407 L15.5088241,14.433041 L18.6192054,7.984237 C15.5364148,3.11535317 13.9273018,0.573395879 13.7918663,0.358365126 C13.5790555,0.511491653 10.8061687,2.3935607 5.47320593,6.00457225 Z"
                      id="path-3"
                    ></path>
                    <path
                      d="M7.50063644,21.2294429 L12.3234468,23.3159332 C14.1688022,24.7579751 14.397098,26.4880487 13.008334,28.506154 C11.6195701,30.5242593 10.3099883,31.790241 9.07958868,32.3040991 C5.78142938,33.4346997 4.13234973,34 4.13234973,34 C4.13234973,34 2.75489982,33.0538207 2.37032616e-14,31.1614621 C-0.55822714,27.8186216 -0.55822714,26.0572515 -4.05231404e-15,25.8773518 C0.83734071,25.6075023 2.77988457,22.8248993 3.3049379,22.52991 C3.65497346,22.3332504 5.05353963,21.8997614 7.50063644,21.2294429 Z"
                      id="path-4"
                    ></path>
                    <path
                      d="M20.6,7.13333333 L25.6,13.8 C26.2627417,14.6836556 26.0836556,15.9372583 25.2,16.6 C24.8538077,16.8596443 24.4327404,17 24,17 L14,17 C12.8954305,17 12,16.1045695 12,15 C12,14.5672596 12.1403557,14.1461923 12.4,13.8 L17.4,7.13333333 C18.0627417,6.24967773 19.3163444,6.07059163 20.2,6.73333333 C20.3516113,6.84704183 20.4862915,6.981722 20.6,7.13333333 Z"
                      id="path-5"
                    ></path>
                  </defs>
                  <g id="g-app-brand" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="Brand-Logo" transform="translate(-27.000000, -15.000000)">
                      <g id="Icon" transform="translate(27.000000, 15.000000)">
                        <g id="Mask" transform="translate(0.000000, 8.000000)">
                          <mask id="mask-2" fill="white">
                            <use xlink:href="#path-1"></use>
                          </mask>
                          <use fill="#696cff" xlink:href="#path-1"></use>
                          <g id="Path-3" mask="url(#mask-2)">
                            <use fill="#696cff" xlink:href="#path-3"></use>
                            <use fill-opacity="0.2" fill="#FFFFFF" xlink:href="#path-3"></use>
                          </g>
                          <g id="Path-4" mask="url(#mask-2)">
                            <use fill="#696cff" xlink:href="#path-4"></use>
                            <use fill-opacity="0.2" fill="#FFFFFF" xlink:href="#path-4"></use>
                          </g>
                        </g>
                        <g
                          id="Triangle"
                          transform="translate(19.000000, 11.000000) rotate(-300.000000) translate(-19.000000, -11.000000) "
                        >
                          <use fill="#696cff" xlink:href="#path-5"></use>
                          <use fill-opacity="0.2" fill="#FFFFFF" xlink:href="#path-5"></use>
                        </g>
                      </g>
                    </g>
                  </g>
                </svg>
              </span>
              <span class="app-brand-text demo menu-text fw-bolder ms-2">W ADMIN</span>
            </a>

            <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
              <i class="bx bx-chevron-left bx-sm align-middle"></i>
            </a>
          </div>

          <div class="menu-inner-shadow"></div>

          <ul class="menu-inner py-1">
            <!-- Dashboard -->
            <li class="menu-item ">
              <a href="/dashboard" class="menu-link">
                <i class="menu-icon tf-icons bx bx-home-circle"></i>
                <div data-i18n="Analytics">Dashboard</div>
              </a>
            </li>

            <!-- Layouts -->
            <li class="menu-item">
              <!-- <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-layout"></i>
                <div data-i18n="Layouts">Layouts</div>
              </a> -->

            </li>

            <li class="menu-header small text-uppercase">
              <span class="menu-header-text">Comptes</span>
            </li>
            <li class="menu-item ">
              <a href="/compte-clients" class="menu-link ">
                <i class="menu-icon tf-icons bx bx-dock-top"></i>
                <div data-i18n="Account Settings">Compte Clients</div>
              </a>
              
            </li>
            <li class="menu-item">
                <a href="/compte-admin" class="menu-link ">
                  <i class="menu-icon tf-icons bx bx-dock-top"></i>
                  <div data-i18n="Account Settings">Compte Admin</div>
                </a>
                
              </li>
            <li class="menu-item">
              <a href="/paiement" class="menu-link ">
                <i class="menu-icon tf-icons bx bx-lock-open-alt"></i>
                <div data-i18n="Authentications">Paiement</div>
              </a>
              
            </li>
            <!-- <li class="menu-item">
              <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-cube-alt"></i>
                <div data-i18n="Misc">h</div>
              </a>
              
            </li> -->
            <!-- Components -->
            <li class="menu-header small text-uppercase"><span class="menu-header-text">COMPOSANTS</span></li>
            <!-- Cards -->
            <li class="menu-item active">
              <a href="/generate" class="menu-link">
                <i class="menu-icon tf-icons bx bx-collection"></i>
                <div data-i18n="Basic">Generer</div>
              </a>
            </li>
            <!-- User interface -->
            <li class="menu-item">
              <a href="/listes" class="menu-link">
                <i class="menu-icon tf-icons bx bx-box"></i>
                <div data-i18n="User interface">Listes</div>
              </a>
              
            </li>

            <!-- Extended components -->
            
            <!-- Forms & Tables -->
            <li class="menu-header small text-uppercase"><span class="menu-header-text">SETTINGS</span></li>
            <!-- Forms -->
            <li class="menu-item">
              <a href="/notifactions" class="menu-link ">
                <i class="menu-icon tf-icons bx bx-detail"></i>
                <div data-i18n="Form Elements">Notifications</div>
              </a>
            </li>
            <!-- <li class="menu-item">
              <a href="" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-detail"></i>
                <div data-i18n="Form Layouts">Termes et Conditions</div>
              </a>
              
            </li> -->
            <!-- Tables -->
           
            <!-- Misc -->
          </ul>
        </aside>
        <!-- / Menu -->

        <!-- Layout container -->
        <div class="layout-page">
        

          <!-- Content wrapper -->
          <div class="content-wrapper">
            <!-- Content -->

            <div class="container-xxl flex-grow-1 container-p-y">

                <h2>Generate</h2>

                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1" (change)="checkCheckBoxvalue($event)" >
                  <label class="form-check-label" for="inlineCheckbox1">Wedding</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2" (change)="checkCheckBoxvalue2($event)">
                  <label class="form-check-label" for="inlineCheckbox2">Anniverssaire</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2" (change)="checkCheckBoxvalue3($event)">
                  <label class="form-check-label" for="inlineCheckbox2">Conference</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2" (change)="checkCheckBoxvalue4($event)">
                  <label class="form-check-label" for="inlineCheckbox2">Autres</label>
                </div>

                <div class="row">

                    <div class="col-md-6">
                    <div class="card mb-4">
                      <!-- <h5 class="card-header">Informations</h5> -->
                      <div class="card-body">
                        <div>
                         
                          <label for="defaultFormControlInput" class="form-label">Titre evenement</label>
                          <input type="text" class="form-control" id="defaultFormControlInput" placeholder="Festival"
                            aria-describedby="defaultFormControlHelp" [(ngModel)]="title1" [maxLength]="50" pattern="[A-Za-z]"/>
                        <label for="defaultFormControlInput" class="form-label">Nom Invite</label>
                          <input type="text" class="form-control" id="defaultFormControlInput" placeholder="Joe Monkila"
                            aria-describedby="defaultFormControlHelp" [(ngModel)]="title2" [maxLength]="20" />
                        <label for="defaultFormControlInput" class="form-label">Table</label>
                          <input type="text" class="form-control" id="defaultFormControlInput" placeholder="Empereur"
                            aria-describedby="defaultFormControlHelp" [(ngModel)]="title3" [maxLength]="10"/>

                            <div class="row">
                              <div class="col">
                                <label for="defaultFormControlInput" class="form-label">Date</label>
                                <input type="date" class="form-control" id="defaultFormControlInput" placeholder="24-12-2023"
                                     aria-describedby="defaultFormControlHelp" [(ngModel)]="title6" [maxLength]="10"/>
                              </div>
                              <div class="col">
                                <label for="defaultFormControlInput" class="form-label">Heure</label>
                                <input type="time" class="form-control" id="defaultFormControlInput" placeholder="17:00"
                                    aria-describedby="defaultFormControlHelp" [(ngModel)]="title7" [maxLength]="5"/>
                              </div>

                            </div>
                            
                        <label for="defaultFormControlInput" class="form-label">Lieu | Heure </label>
                          <input type="text" class="form-control" id="defaultFormControlInput" placeholder="Kin Marche - 15h - 24/12/2023"
                            aria-describedby="defaultFormControlHelp" [(ngModel)]="title4" [maxLength]="50" />
                         
                            <button type="button" class="btn btn-primary" style="margin-top: 10px;" (click)="downloadImage()">Down</button>
                            <button type="button" class="btn btn-primary" style="margin-top: 10px; margin-left: 10px;" (click)="uploadInvitation()">Qr</button>
                            <button type="button" class="btn btn-primary" style="margin-top: 10px; margin-left: 5px;" data-bs-toggle="modal"
                            data-bs-target="#uploadModal">Upload</button>
                            <!-- <button type="button" class="btn btn-primary" style="margin-top: 10px; margin-left: 5px;" (click)="generateQr()">Qr</button> -->
                            <!-- <button type="button" class="btn btn-primary" style="margin-top: 10px; margin-left: 5px;" (click)="downloadQr()">Down Qr</button> -->
                            <!-- <button type="button" class="btn btn-primary" style="margin-top: 10px; margin-left: 10px;">View</button> -->
                          <!-- <div id="defaultFormControlHelp" class="form-text">
                            We'll never share your details with anyone else.
                          </div> -->
                        </div>
                      </div>
                    </div>
                    </div>
                    <div class="col-md-6" style="margin-bottom: 30px;">
                      <!-- <button type="button" class="btn btn-primary" style="margin-bottom: 10px;" data-bs-toggle="modal"
                 data-bs-target="#basicModal">Background</button> -->

                      <div class="btn-group" role="group" aria-label="Basic example" style="margin-bottom: 10px; margin-left: 1%;">
                        <button type="button" class="btn btn-secondary" (click)="changeBack1()">1</button>
                        <button type="button" class="btn btn-secondary" (click)="changeBack2()">2</button>
                        <button type="button" class="btn btn-secondary" (click)="changeBack3()">3</button>
                        <button type="button" class="btn btn-secondary" (click)="changeBack4()">4</button>
                        <button type="button" class="btn btn-secondary" (click)="changeBack5()">5</button>
                        <button type="button" class="btn btn-secondary" (click)="changeBack6()">6</button>
                        <button type="button" class="btn btn-secondary" (click)="changeBack7()">7</button>
                        <button type="button" class="btn btn-secondary" (click)="changeBack8()">8</button>
                        <button type="button" class="btn btn-secondary" (click)="changeBack9()">9</button>
                        <button type="button" class="btn btn-secondary" (click)="changeBack10()">10</button>
                      </div>

                      <div class="card mb-4 fondChange" id="sectionImage" [ngStyle]="{'background-image': 'url(' + photo + ')'}" style="height: 600px; " #screen>
                        <label class="" style="text-transform: capitalize; font-family: 'Acme', serif; font-size: 20px; margin-top: 10px; text-align: right; margin-right: 3px;" [ngStyle]="{'color': style }">Table : {{title3}}</label><br>
                        <h5 class="card-header" style="align-items: center;  text-align: center; font-family: 'Julee', serif; font-size: 50px; margin-top: 58px;" [ngStyle]="{'color': style }" >SAVE THE DATE</h5>
                        <h5 class="card-header" style="align-items: center;  text-align: center; font-family: 'Julee', serif; font-size: 30px; margin-top: 5px;" [ngStyle]="{'color': style }" >{{title6}}|{{title7}}</h5>
                        <!-- <div class="card-body justify-content-center" > -->
                          <!-- <label class="" style="text-transform: uppercase; font-family: 'Acme', serif;" [ngStyle]="{'color': style }">{{title1}}</label><br> -->
                          
                        <!-- </div> -->
                        <label class="" style="text-transform: capitalize; font-family: 'Acme', serif; font-size: 20px; margin-top: 30px; text-align: center;" [ngStyle]="{'color': style }">{{title2}}</label><br>
                          <label class="" style="text-transform: capitalize; font-family: 'Acme', serif; font-size: 20px; margin-top: -20px; text-align: center;" [ngStyle]="{'color': style }">..............................................................</label><br>
                         
                          <!-- <label class="" style="text-transform: capitalize; margin-left: 40%; font-family: 'Acme', serif;" [ngStyle]="{'color': style }">----------------------</label><br> -->
                          <label class="" style="text-transform: capitalize; font-family: 'Acme', serif;" [ngStyle]="{'color': style }">{{title4}}</label><br>
                          <label class="form-label" style=" align-items: center; text-align: center; font-family: 'Acme', serif; margin-top: 80px; font-size: 20px;" [ngStyle]="{'color': style }">Bienvenue</label>
                      </div>
                    </div>

                 </div>

                 <ng-container *ngIf="visibleQr">
                 <div class="row" style="margin-bottom: 2%;" #screenQr>
                  <div class="col-md-3">
                    <div class="card mb-4">
                      <h5 class="card-header">QR CODE</h5>
                      <div class="card-body" >
                        <ngx-qrcode
                            [elementType]="elementType"
                            [errorCorrectionLevel]="correctionLevel"
                            [value]="value"
                            [width]=200
                            cssClass="bshadow" >
                        </ngx-qrcode>
                      </div>
                    </div>
                  </div>
                 </div>
                </ng-container>

                 <ng-container *ngIf="visible">
                    <div id="download">
                      <img #canvas>
                      <a #downloadLink></a>
                    </div>
                </ng-container>

                <ng-container *ngIf="visibleT">
                  <div id="downloadQr">
                    <img #canvasQr>
                    <a #downloadLinkQr></a>
                  </div>
              </ng-container>
              
            </div>
            <!-- / Content -->

            <!-- Modal -->
            <div class="modal fade" id="basicModal" tabindex="-1" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                  
                    <button
                      type="button"
                      class="btn-close"
                      data-bs-dismiss="modal"
                      aria-label="Close"
                    ></button>
                  </div>
                  <div class="modal-body">
                    <div class="row">
                      <div class="col mb-3">
                        <label for="nameBasic" class="form-label">Background Image</label>
                        <input type="file" id="nameBasic" class="form-control" />
                      </div>
                    </div>
                    <!-- <div class="row g-2">
                      <div class="col mb-0">
                        <label for="emailBasic" class="form-label">Background Color</label>
                        <select class="form-control">
                          <option>Noir</option>
                          <option>Blanc</option>
                          <option>Rouge</option>
                          <option>Vert</option>
                        </select>
                      </div>
                    </div> -->
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                      Close
                    </button>
                    <button type="button" class="btn btn-primary">Image</button>
                    <!-- <button type="button" class="btn btn-primary">Color</button> -->
                  </div>
                </div>
              </div>
            </div>
            <!-- Modal -->


            <!-- Modal -->
            <div class="modal fade" id="uploadModal" tabindex="-1" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                  
                    <button
                      type="button"
                      class="btn-close"
                      data-bs-dismiss="modal"
                      aria-label="Close"
                    ></button>
                  </div>
                  <div class="modal-body">
                    <div class="row">
                      
                      <div class="col mb-3">
                        <label for="nameBasic" class="form-label">Image</label>
                        
                          <input type="file" id="nameBasic" class="form-control" (change)="selectFile($event)" multiple/>
                       
                      </div>
                    </div>
                    <!-- <div class="row g-2">
                      <div class="col mb-0">
                        <label for="emailBasic" class="form-label">Background Color</label>
                        <select class="form-control">
                          <option>Noir</option>
                          <option>Blanc</option>
                          <option>Rouge</option>
                          <option>Vert</option>
                        </select>
                      </div>
                    </div> -->
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                      Close
                    </button>
                    <button type="button" class="btn btn-primary" (click)="uploadInvitationFrom()">Valider</button>
                    <button type="button" class="btn btn-primary" (click)="uploadInvitation()">Qr</button>
                    <!-- <button type="button" class="btn btn-primary">Color</button> -->
                  </div>
                </div>
              </div>
            </div>
            <!-- Modal -->


            <!-- Footer -->
            <footer>


                <div
                      class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-primary">
                      <!-- Copyright -->
                      <div class="text-white mb-3 mb-md-0">
                        Copyright © MonkilaTECH 2023.  All rights reserved.
                      </div>
                      <!-- Copyright -->
                  
                      <!-- Right -->
                      <div>
                        <a href="" class="text-white me-4">
                          <i class="fab fa-facebook-f"></i>
                        </a>
                        <a href="" class="text-white me-4">
                          <i class="fab fa-twitter"></i>
                        </a>
                        <a href="" class="text-white me-4">
                          <i class="fab fa-google"></i>
                        </a>
                        <a href="" class="text-white">
                          <i class="fab fa-linkedin-in"></i>
                        </a>
                      </div>
                      <!-- Right -->
                </div>
                </footer>
            <!-- / Footer -->

            <div class="content-backdrop fade"></div>
          </div>
          <!-- Content wrapper -->
        </div>
        <!-- / Layout page -->
      </div>

      <!-- Overlay -->
      <div class="layout-overlay layout-menu-toggle"></div>
    </div>
    <!-- / Layout wrapper -->

    

    <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->
    <script src="./assets/vendor/libs/jquery/jquery.js"></script>
    <script src="./assets/vendor/libs/popper/popper.js"></script>
    <script src="./assets/vendor/js/bootstrap.js"></script>
    <script src="./assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>

    <script src="./assets/vendor/js/menu.js"></script>
    <!-- endbuild -->

    <!-- Vendors JS -->
    <script src="./assets/vendor/libs/apex-charts/apexcharts.js"></script>

    <!-- Main JS -->
    <script src="./assets/js/main.js"></script>

    <!-- Page JS -->
    <script src="./assets/js/dashboards-analytics.js"></script>

    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>

    <!-- <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"> </script>  
    <script>  
        $(document).ready(function() {  
            $("#btn1").click(function() {  
              alert('bonjour');
            //$("#fondChange").css({"background-image": "url(../../../../assets/templates/img1.jpg)"});  
        });  
        });  
    </script>   -->


  </body>