footer{
    position:fixed;
    /* top: 3%; */
    bottom:0; 
    width:100%;
    /* height:100px; */
}

.fond1{
    background-image: url(../../../../assets/templates/img1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto; 
}

.fond2{
    background-image: url(../../../../assets/templates/img2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto; 
}

.fond3{
    background-image: url(../../../../assets/templates/img3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto; 
}

.fond4{
    background-image: url(../../../../assets/templates/img4.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto; 
}

.fond5{
    background-image: url(../../../../assets/templates/img5.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto; 
}